.container{
   /*border: 3px solid black;*/
    height: 100vh;
    opacity: 0.8;
}
html{
    font-family: 'Times New Roman', Times, serif;
}

.form{
    border: 3px solid black;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    width: 350px;
    top: 15%;
    left: 35%;
    position: absolute;
    padding: 30px 48px;
    border-radius: 3px;
}/*
h1{
    margin-left: 20%;
    margin-top: 15%;
}*/

input{
    border-radius: 3px;
    border: 1px solid rgb(152, 142, 142);
    width: 300px;
    height: 35px;
    padding: 5px;
    background-color: black;
    color: #fff;
    margin-left: 23px;
    font-size: 15px;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
body{
   /* background-image: url("netflix.png");
   background-repeat:no-repeat;
   */
    background: url("back2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.sign-in{
    text-align: center;
    position: absolute;
    display: block;
    align-items: center;
    width: 310px;
    margin-left: 23px;
    margin-top: 15px;
    padding: 8px;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 3px;
    font-family: 'Trebuchet MS', 'sans-serif';
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}
h1{
    color: white;
    filter: brightness(500%);
}
p{
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
.code{
    padding: 7px;
    width: 310px;
    height: 40px;
    margin-left: 23px;
    background-color: rgb(255 255 255 / 20%);;
    color: white;
    border: 0px solid;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
}
.fp{
    cursor: pointer;
    font-size: 13px;
    color: white;
    margin-top: 20px;
    text-align: center;

}
.fp:hover{
    text-decoration: underline;
    color: rgb(110, 109, 109);
}
.net{
    width: 170px;
    height: 53px;
    margin-left: 15%;
    margin-top: 20px;
    filter: brightness(1);

}
.up:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sign-up{
    padding: 37px;
}
.more{
    color: rgb(25, 25, 251);
    cursor: pointer;
}
pre{
    font-family: sans-serif;
    font-size: 13px;
    color: #7f7a7a;
    margin-left: 20px;
    line-height: 20px;
}
.black{
    background-color: black;
    height: 200px;
    width: 100%;
    margin-top: -80px;
}